body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

header {
    background: #ffdd00;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    width: 120px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #333;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav a:hover {
    color: #ff6600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.hero {
    position: relative;
    background: url('../img/screen.png') no-repeat center center/cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* 50% darker overlay */
}

.hero h1 {
    font-size: 3em;
    margin: 0;
    position: relative;
    z-index: 1;
    /* Ensure text is on top of overlay */
}

.section-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    opacity: 0;
    /* Hide content initially */
    transform: translateY(20px);
    /* Initial translate for animation */
    animation: fadeIn 1s forwards 0.3s;
    /* Fade in animation */
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2,
h3 {
    color: #ff9900;
    margin-bottom: 15px;
}

section {
    margin-bottom: 30px;
}

p {
    line-height: 1.6;
}

.icon {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

.link {
    color: #ff6600;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #ff3300;
    text-decoration: underline;
}

.timer {
    font-size: 2em;
    color: #333;
    font-weight: bold;
    text-align: center;
    background-color: #ffdd00;
    padding: 20px;
    margin-bottom: 30px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #ffdd00;
    padding: 10px 0;
    text-align: center;
    color: #333;
    margin-top: 30px;
}